
body {
    background-color: #f4f1ea;
    font-family: 'Georgia', serif;
}

h1 {
    color: #6d4c41;
    text-align: center;
}

.card {
    background-color: #f7f5f3;
    border-color: #f7f5f4;
}

.card-title {
    color: #6d4c41;
}

.btn-primary {
    background-color: #b58e6d;
    border: none;
}

.btn-info {
    background-color: #6d4c41;
    border: none;
}

.btn-warning {
    background-color: #c7a17a;
    border: none;
}

.btn-danger {
    background-color: #b34a34;
    border: none;
}

.alert-success {
    background-color: #d9ccb7;
    border-color: #b58e6d;
}

.box-shadow{
   color: aqua;
}
.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #f8f9fa;
    border-right: 1px solid #dee2e6;
    top: 0;
    bottom: 0;
}
