/* Contoh aturan CSS */
.navbar-custom {
    background-color: #12b8e6;
}

.navbar-custom .nav-link {
    color: #2b290e;
}

.sidebar {
    background-color: #403121;
    padding: 20px;
    min-height: 100vh;
    border-right: 1px solid #5a595a;
}


/* sidebar */
/* Sidebar styles */
.sidebar {
    background-color: #f3f5f7; /* Warna bg-secondary */
    padding: 20px;
    min-height: 100vh; /* Agar sidebar memenuhi tinggi halaman */
    border-right: 1px solid #f5f2f5; /* Border sesuai tema */
}

.sidebar .nav-link {
    color: #042647; /* Warna text-light */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #343a40; /* Warna yang lebih gelap saat hover */
    color: #ffffff; /* Warna teks saat hover */
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link.active {
    background-color: #495057; /* Warna saat link aktif */
    color: #ffffff;
}
/*  */
